<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <br> <br>

    <form action="/add" method="post">
        <input type="hidden" name="username" value= <%= user %> />
        <input class="addnew" type="text" name="quoteitem" placeholder='"input field for new quotes here __________________________________________________________________"' required>
        <input type="text" name="quoteorigin" placeholder="Input field for origin here">
        <input class="addbtn" type="submit" name="addbtn" value="Publish"> <br> <br>
    </form> <br>

    <div>
        <% if (quote.length > 0) { %> 
            <% quote.forEach(quote => { %>
                <h2><%= quote.quoteitem %></h2><br>
                <p><%= quote.quoteorigin %></p>
            <% }) %>
        <% } else { %>
            <h2>No quotes</h2>
        <% } %>
    </div>
</body>
</html>